body {
    margin: 0;
    text-align: center;
}

/* Background Image */

section {
    background-image: url(images/floral.png);
    margin: 0;
    padding: 10px;
}

/* Styling For paragraph */

section p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}

/* about marquee */

.headline {
    background-color: #ed484c;
    line-height: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.headline p {
    margin: 0;
    padding: 5px 0px;
    padding-left: 50%;
    animation: headline 9s linear infinite;
}

@keyframes headline {
    100% {
        transform: translate(-100%, 0);
    }
}

/* navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(76, 76, 76, 0.8);
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    list-style-type: none;
    margin: 0px 5px;
    color: #d3d3d3;
    font-size: 20px;
}

.navigation img {
    width: 80px;
    height: 50px;
    margin-left: 18px;
    margin-top: 14px;
}

/* about join-section */

.join-now-sec {
    background-color: rgba(239, 50, 69, 0.57);
}

h1 {
    font-size: 3.5em;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    padding: 0.8em 4em;
    background-color: black;
    color: #f18d97;
    font-size: 20px;
    border-style: none;
    margin: 20px;
}

/* SERVICE SECTION */

.service-icon {
    display: flex;
}

.service-section {
    background-color: rgba(171, 163, 147, 0.23);
}

h2 {
    font-family: 'Lobster Two', cursive;
    color: black;
}

.service-icon i:hover {
    color: red;
}

/* Contact section */

.contact-sec {
    background-color: rgba(95, 140, 138, 0.42);
}

.contact-sec i {
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 50%;
}

.contact-sec i:hover {
    color: #fcdea6;
    background-color: black;
}

/* portfolio section */

.portfolio-sec {
    background-color: #ddceb4;
}

.portfolio-imgs {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: 0px auto;
}

.portfolio-sec figure {
    position: relative;
    width: 200px;
    transition: 1s;
}

.portfolio-sec figure img {
    max-width: 100%;
    border-radius: 10px;
}

.portfolio-sec figure figcaption {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.portfolio-sec figure:hover figcaption {
    display: block;
}

.portfolio-sec figcaption i:hover {
    color: white;
    background-color: white;
    border-color: white;
    transition: 1s;
}

.portfolio-sec figcaption i {
    font-size: 15px;
    padding: 8px 9px;
    border-radius: 30px;
    background-color: rgba(175, 199, 198, 0);
    border: 1px solid white;
    margin: 10px;
    color: white;
}

h4 {
    color: white;
}

footer p {
    font-size: 19px;
    font-weight: normal;
}

footer i {
    color: white;
}

i {
    transition: color 2s, background-color 2s;
}

footer:hover i {
    color: red;
}

footer {
    background-color: #212121;
    color: white;
    margin: 0px;
    padding: 5px;
}

/* media Queries */

/* for Mobile View */

@media screen and (max-width: 600px) {
    .service-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolio-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolio-imgs {
        display: grid;
        grid-template: repeat(6, 1fr)/repeat(1, 1fr);
        width: 100%;
        margin: auto;
    }
    .navigation {
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .service-icon {
        display: flex;
        flex-direction: column;
    }
    .portfolio-imgs {
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        width: 80%;
        margin: auto;
    }
    .navigation {
        position: sticky;
        top: 0;
    }
}