        body {
            margin: 0;
            text-align: center;
        }

        p {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            font-weight: bold;
        }
        /* about marquee */
        .headline{
            background-color: #ed484c;
            line-height: 10px;
            color:white;
            white-space: nowrap;
            overflow: hidden;   
            }

        .headline p{
            margin: 0;
            padding: 5px 0px;
            padding-left: 50%;
            animation: headline 9s linear infinite;
            }

        @keyframes headline {
            0% {transform:translate(0,0);}
            100% {transform:translate(-100%,0);}
          }

        
        .navigation + .join-now-sec{
           padding-top: 5em;
        }

        /* navigation */

        .navigation {
            display: flex;
            justify-content: space-between;
            background-color: #4c4c4c;
            position: fixed;
            top: 25px;
            width: 100%;   
        }

        .navigation ul {
            display: flex;
        }

        .navigation ul li {
            list-style-type: none;
            padding: 10px;
            color: lightgray;
            font-size: 20px;
        }

        .navigation img {
            width: 80px;
            height: 50px;
            margin-left: 18px;
            margin-top: 14px;
        }
/* about join-section */
        .join-now-sec {
            background-image: url(images/floral.png);
            background-color: rgba(239, 50, 69, 0.57);
            padding: 10px 10px;
            text-align: center;
            height: 400px;
        }

        .join-now {
            padding: 0.8em 4em;
            background-color: black;
            color: #f18d97;
            font-size: 20px;
            border-style: none;
            margin: 20px;
        }

        .join-now-sec p {
            font-weight: normal !important;
        }

        h1 {
            font-size: 3.5em;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .para-border {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            width: 50%;
            margin-left: 250px;
        }

        .service-icon {
            display: flex;
        }

        .service-section {
            background-image: url(images/floral.png);
            background-color: rgba(171, 163, 147, 0.23);
        }



        .portfolio-sec {
            background-image: url(images/floral.png);
            background-color: rgba(148, 107, 36, 0.35);
        }

        .portfolio-imgs {
            display: flex;
        }

        .portfolio-sec img {
            padding: 30px;
        }

        h2 {
            margin: 0px;
            padding: 20px;
            font-family: 'Lobster Two', cursive;
        }


        .contact-sec {
            background-image: url(images/floral.png);
            background-color: rgba(95, 140, 138, 0.42);
        }

        footer {
            background-color: #212121;
            color: white;
        }

        .contact-sec i {
            padding: 15px 15px;
            border: 1px solid black;
            border-radius: 50%;
        }

        .contact-sec i:hover {
            color: #fcdea6;
            background-color: black;
        }

        .m {
            margin: 10px;
        }

        footer {
            padding: 45px;
        }

        footer p {
            font-size: 19px;
            font-weight: normal;
        }

        footer i {
            color: white;
        }

        i {
            transition: color 2s, background-color 2s;
        }

        footer:hover i {
            color: red;
        }

        .p-5:hover {
            color: black;
        }

        .service-icon i:hover {
            color: red;
        }


        .portfolio-hover {
            display: none;
        }

        .portfolio-imgs figure:hover figcaption {
            display: block;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            margin: 0px;
            padding: 54px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }

        .portfolio-hover h4 {
            margin-top: 0px;
        }

        .portfolio-hover i {
            padding: 10px;
            border: 1px solid white;
            border-radius: 20px;
            margin-top: 10px;
            font-size: 20px;
        }

        .portfolio-hover i:hover {
            background-color: grey;
        }

        #image1 {
            background-image: url("images/projects/p-1.png");
            width: 250px;
            height: 200px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #image2 {
            background-image: url("images/projects/p-2.png");
            width: 250px;
            height: 200px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #image3 {
            background-image: url("images/projects/p-3.png");
            width: 250px;
            height: 200px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #image4 {
            background-image: url("images/projects/p-4.png");
            width: 250px;
            height: 200px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #image5 {
            background-image: url("images/projects/p-5.png");
            width: 250px;
            height: 200x;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #image6 {
            background-image: url("images/projects/p-6.png");
            width: 250px;
            height: 200px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media screen (max-width:900px)
